.navbar{
    background-color: #e53935;
  
    
}

body{
    background-color:#fce4ec  ;
}

.navbar a{
    color:white;
    
}

.dropdown{
    left: 500px;
    
}





.container-form{
    width: 400px;
    position: relative;
bottom:  900px;
left: 900px;
}

.btn-primary{
    float: right;
    background-color:#e53935 ;
}
.btn-primary:hover{
    background-color:#b71c1c ;
    border-color: none;
}
.btn-primary:active{
    background-color:#b71c1c ;
    border-color: none;
}
.regis{
    color: #e53935;
    margin-right: 50px;
}
.regis:hover{
    color: #e53935;
}

.sandi{
    color: #e53935;
}
.sandi:hover{
    color: #e53935;
}

.three-dots{
   color: white;
   margin-left: 50px;
   
   
}

.three-dots:hover{
    background-color: white;
}

